:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    
    --primario: #784D3C;
    --blanco: #FFFFFF;
    --gris: #E1E1E1;
    --negro: #000000;
    --primarioOscuro: #dd2108c4;
}
html {
    box-sizing: border-box; /* Agregamos esto para que el borderbox, padding, etc...no afecte el ancho de nuestros elementos */
    font-size: 62.5%; /* Para que 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    width: 90%;
    width: min(90%, 120rem); 
    margin: 0 auto; /*para centrar todo el contenido */
}
.ancho {
    width: 140rem;
    
}
.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/* Utilidades */
.a {
    font-family: var(--fuenteParrafos);
    color: var(--blanco);
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
/* Header */
.webp .header {
    background-image: url(../img/principal.webp);
}
.no-webp .header {
    background-image: url(../img/principal.jpg);
}
.header {
    height: 60rem;
    background-size: cover; /* Adapta la imagen a diferentes tamaños */
    background-repeat: no-repeat;
    background-position: center bottom;
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}
.barra {
    padding: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem; /*separacion de los enlaces*/
    }
}
.navegacion__enlace {
    display: block; /*esto hace que los elementos no se ordenen de izquierda a derecha como lo hacen por default */
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin: 0;
}
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}
.cursos {
    list-style: none;
  
}
.diseño-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    list-style-type: none;
}
.diseño:last-of-type {
    border: none;
    margin-bottom: 0;
}
.diseño--curso__label, .curso {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}
.diseño--curso__info, .curso {
    font-weight: normal;
}
.diseño--curso__label, 
.diseño--curso__info, .curso {
    font-size: 2rem;
}
.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }    
}
/** Curso **/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

/*Cursos */

.container-card {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container-card, .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container-card:hover, .card {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-card, .card h4 {
    font-weight: 700;
}
.container-card, .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container-cards, .cards a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
/* Tienda */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__nombre {
    font-size: 3rem;
    font-family: var(--fuenteParrafos);
    font-weight: 700;
}
.producto__precio {
    font-size: 2.8rem;
    font-family: var(--fuenteParrafos);
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/* Contacto */

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textaera {
    height: 20rem;
}
.display {
    display: flex;
    flex-direction: row;
}
.span--style {
    color: red;
    padding-bottom: 10px;
}
.span-color {
    display: grid;
    justify-content: end;
    color: grey;
    
}